*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}

.container{
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  padding: 10px 20px;
  font-size: 2em;
  background-color: tomato;
  color: white;
  font-weight: 300;
  position: relative;
  overflow: hidden;      
  border: none;
  cursor: pointer;
  z-index: 2;
}

/* Ripple circle */
.btn::before{
  content: "";
  position: absolute;
  background-color: violet;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transform: scale(0);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.3s ease;
  left: var(--xPosition);
  top: var(--yPosition);
  transform: scale(0);
  opacity: 0;
  transform-origin: center;
  /* z-index: 1; */
}


.btn:hover::before{
  transform: scale(30);
  opacity: 1;
  z-index: -1;
}
